    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About smartDM C++</h2>
             <p>smartDM C++ implements extremely fast streaming decision trees in C++ for big data streams. The main advantages of smartDM over other C/C++ data stream libraries are the following:</p>
<p><ul><big>
<i class="fa fa-play"> </i> Faster than <a href="http://www.cs.washington.edu/dm/vfml/">VFML</a> in C and <a href="http://moa.cms.waikato.ac.nz/">MOA</a> in Java.</br>
<i class="fa fa-play"> </i> Evaluation and learners are separated, not linked together.</br>
<i class="fa fa-play"> </i> It contains several methods for learning numeric attributes.</br>
<i class="fa fa-play"> </i> It is easy to extend and add new methods.</br>
<i class="fa fa-play"> </i> The adaptive decision tree is more accurate and does not need an expert user to choose optimal parameters to use.</br>
<i class="fa fa-play"> </i> It contains powerful ensemble methods. </br>
<i class="fa fa-play"> </i> It is much faster and uses less memory.
</ul></big></p>
            </div>
        </div>
    </section>
