    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download smartDM</h2>
                    <p>You can download smartDM C++ code at Github</p>
                    <a href="https://github.com/huawei-noah/smartDM" class="btn btn-default btn-lg">Visit Github Page</a>
                </div>
            </div>
        </div>
    </section>
